.wrapper{
  width:40%;
  margin-top: 50px;
}
.input-group-addon{
  padding: 0;
}
.search-btn{
  border: 0;
}
.content{
  margin-top: 10px;
  display: none;
}
#loadingmessage{
  margin-top: 10%;
  margin-left: 48%;
  display: none;
}
#loadingmessage img{
  min-height: 34px;

}
